dump.rdb
.bundle
log/
tmp/
.sass-cache/
.rvmrc
.ruby-gemset
.ruby-version
*.DS_Store
config/database.yml
.powenv
public/system
config/config.yml
public/stylesheets
public/assets
public/sitemaps
public/chunks
config/webpack/records.json
.username
invoker.ini
.features
*.sublime*
invoker.ini
custom_plan.rb
zeus.json
.yardoc
bin/*

node_modules

